/* Meyer féle CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* own style */

html, body {
	margin: 0px;
	padding: 20px;	
	background-color: rgba(255, 168, 118, 0.3);
	line-height: 1,8em;
}

h1, h2, caption {
	text-align: center;
	font-family: Century, sans-serif;
}
 
h1{
	font-size: 40px;
	word-spacing: 5px;
	padding: 40px 10px 40px 10px;
	text-align: center;
}


hr{
	border: 1px solid white;
	width: 50%;
}

h2, caption {
	font-size: 32px;
}

h3 {
	font-size: 20px;
}

h4{
 font-size: 40px;
}

img {
	width: 100%;
	height: auto;
	border-radius: 5%;
	position: relative;
}

p{
	font-family: Arial, sans-serif;
	font-size: 16px;
	max-width: 98%
	line-height: 1,5em;
}


a {
	color: blue;
}

a:hover {
	color: lightblue;
}


.local-link1, local-link2 {
	text-align: center;
}

.kiemelt {
	color: coral;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding: 10px;
}

ul, li {
	text-align: left;
	list-style: square;
	padding-left: 20px;
	width: 100%;
}

i {
  font-style: italic;
  color: blue; 
}

i:hover {
	color: lightblue;
}

table {
	width: 100%;
}

table, th, td {
	border: 2px dotted white;
   	border-collapse: collapse;
   	text-align: center;
 }

th, td {
    text-align: center;
	padding: 10px;
}


caption {
	padding-bottom: 20px;
}

footer {
	color: black;
	padding: 10px;
	padding-bottom: 0px;
	text-align: center;
}

#footer-hr {
   border: 1px solid white;
   width: 100%;
}